<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/register" method="post">
        <h2>유저닉네임 : <input type="text" name="username" id=""></h2><br>
        <h2>유저이메일 : <input type="text" name="email" id=""></h2><br>
        <h2>패스워드   : <input type="password" name="password" id=""></h2><br>
        
        <input type="submit" value="가입">
    </form>
</body>
</html>