<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>버스안전점검페이지</title>
</head>
<body>
    <form action="/working" method="post" ><br>
        <input type="text" name="carID" id=""  placeholder="자동차번호"><br>
        <input type="text" name="checkList" id="" placeholder="주요점검사항" ><br>
        <input type="text" name="checkEtc" id=""  placeholder="기타점검사항">
        <input type="submit" value="점검제출">
    </form>
</body>
</html>